@{ 
    string nomeUsuario = "Fulano de Tal";
    var claims = User.Claims.ToList();
}

@*
1) usuário logado: boas-vindas e opção sair
2) usuário desconectado: opção de login
*@

@if (!string.IsNullOrWhiteSpace(nomeUsuario))
{
    <div>Olá, @nomeUsuario <a>sair</a></div>
}
else
{
    <div>Nenhum usuário conectado. <a>entrar</a></div>
}